<!-- Header -->
<div id="header">
    <div class="container">
        <nav>
            <img src="images/logo.png" class="logo">
            <ul id="sidemenu">
                <li><a href="#header">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#contact">Contact</a></li>
                <i class="fas fa-times" onclick="closemenu()"></i>
            </ul>
            <i class="fas fa-bars" onclick="openmenu()"></i>
        </nav>
        <div class="header-text">
            <h1><span id="animation-container"></span>, I'm <span>Yashsvi</span></h1>
            <p>I am Interactive Web Developer, UI/UX designer & graphic designer.</p>
        </div>
    </div>
</div>
<div id="about">
    <div class="container">
        <div class="row">
            <div class="about-col-1">
                <img src="images/user.jpg">
            </div>
            <div class="about-col-2">
                <h1 class="sub-title">About Me</h1>
                <p>I'm Yashsvi (aka Alisha Dutt), a dedicated professional with over 2 years of experience in web
                    development and design. My journey has been fueled by a genuine passion for coding and crafting
                    digital experiences that seamlessly blend with the beauty of nature.

                    Proficient in HTML, CSS, JS,PHP and more, I specialize in writing, modifying, integrating, and
                    thoroughly testing software code. I excel in maintaining existing computer programs by implementing
                    necessary modifications and identifying technical problems, processes, and solutions. My commitment
                    to excellence is reflected in my ability to prepare comprehensive reports, manuals, and other
                    documentation on the status, operation, and maintenance of Web Apps.<br /><br />

                    I actively engage in assisting with the collection and documentation of user requirements, ensuring
                    that every project aligns seamlessly with the needs of the end-users. Moreover, my skills extend to
                    researching and evaluating various software products to ensure optimal solutions.<br /><br />

                    My expertise extends to writing, modifying, integrating, and testing software code specifically
                    tailored for e-commerce and other internet applications. I've successfully earned certifications in
                    competitive web development, showcasing my dedication to continuous learning and professional
                    growth.<br /><br />

                    Customer satisfaction lies at the core of my philosophy, and I take pride in delivering solutions
                    that not only meet but exceed expectations. Beyond the realms of web development, I find solace in
                    the art of photography and the enchantment of music. With an unwavering ambition, I aspire to become
                    a prominent female figure in the web development industry, inspiring others through my work and
                    unwavering dedication.</p>

                <div class="tab-titles">
                    <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
                    <p class="tab-links" onclick="opentab('experience')">Experience</p>
                    <p class="tab-links" onclick="opentab('education')">Education</p>
                </div>
                <div class="tab-contents active-tab" id="skills">
                    <ul>
                        <li><span>UI/UX</span><br>Designing Web/App interfaces</li>
                        <li><span>Graphic Design</span><br>Designing & Creating Web/App Graphics and Motion Graphics
                        </li>
                        <li><span>Web Development</span><br>Deployment of a functional Web application</li>
                    </ul>
                </div>
                <div class="tab-contents" id="experience">
                    <ul>
                        <li><span>2023-Current</span><br>Freelance Work & Projects</li>
                        <li><span>2021-2023</span><br>Georgian College - 10+ CRUD Academic Projects</li>
                        <li><span>2021-2022</span><br>UI Designer & Front-End Web Developer at NxPro - Next Generation
                            Professionals.</li>
                    </ul>
                </div>
                <div class="tab-contents" id="education">
                    <ul>
                        <li><span>2021-2023</span><br>Interactive Media Design - Web Diploma at Georgian College (2
                            Years)</li>
                        <li><span>2021</span><br>Bachleor's of Computer Application at PGGCG-11 (1 Year)</li>
                        <li><span>2020</span><br>Post Secondary Voc. studies in Web Application & IT at GGMSSS-18 (2
                            Years) </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ---------services---------------- -->
<div id="services">
    <div class="container">
        <h1 class="sub-title">My Services</h1>
        <div class="services-list">
            <div>
                <i class="fa-solid fa-code"></i>
                <h2>Web Design</h2>
                <p>Crafting digital experiences that resonate – my web designs blend functionality with aesthetics,
                    offering intuitive navigation and captivating visuals. Elevate your online presence with designs
                    that leave a lasting impression.</p>
            </div>
            <div>
                <i class="fa-regular fa-object-ungroup"></i>
                <h2>UI/UX Design</h2>
                <p>Transcend user expectations with my UI/UX designs. Seamlessly fusing form and function, I craft
                    intuitive digital journeys that enchant users. Elevate user experiences through designs that engage
                    and empower.</p>
            </div>
            <div>
                <i class="fa-solid fa-palette"></i>
                <h2>Graphic Design</h2>
                <p>My graphic designs weave stories through visuals, capturing essence and emotion. With meticulous
                    attention to detail, I create striking visuals that resonate authentically, making your message an
                    artistic masterpiece.</p>
            </div>
        </div>
    </div>
</div>
<!-- ------------SKILLS--------------------- -->
<!-- skills section start -->
<div class="container">
    <h1 class="sub-title">My Skills</h1>
    <section class="skills" id="skills">
        <div class="skills-content">
            <div class="column left">
                <div class="text">My creative skills & experiences.</div>
                <p>I'm all about creating awesome digital
                    experiences. Let's talk tech: HTML, CSS, and JavaScript are my playground, and I sprinkle in
                    some magic with Express.js and React for those dynamic vibes. Bootstrap is my secret sauce for
                    making things look slick and responsive. I'm the Git ninja you didn't know you needed, and I
                    dance with servers using ASP.NET, PHP, and make WordPress do backflips.<br /><br />

                    Now, on the design dance floor, I whip up mood boards and style guides like a pro. Adobe XD and
                    Figma are my partners in crime for crafting pixel-perfect designs that make users go "Wow!" Need
                    a database wrangled? I'm your go-to for RDBMS, MongoDB, and SQL wizardry. And don't worry, I
                    document like a champ—keeping things clear and organized.<br /><br />

                    Excited to bring a mix of tech and design to your projects! 🚀✨</p>
            </div>
            <div class="column right">
                <div class="bars">
                    <div class="info">
                        <span>HTML</span>
                        <span>100%</span>
                    </div>
                    <div class="line html"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>CSS</span>
                        <span>90%</span>
                    </div>
                    <div class="line css"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>JavaScript</span>
                        <span>70%</span>
                    </div>
                    <div class="line py"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Git & Github</span>
                        <span>75%</span>
                    </div>
                    <div class="line opensource"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>BootStrap</span>
                        <span>100%</span>
                    </div>
                    <div class="line html"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Tailwind CSS</span>
                        <span>80%</span>
                    </div>
                    <div class="line html"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Adobe Photoshop & Illustrator & XD</span>
                        <span>60%</span>
                    </div>
                    <div class="line adpi"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>ASP.NET</span>
                        <span>60%</span>
                    </div>
                    <div class="line cc"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Figma</span>
                        <span>25%</span>
                    </div>
                    <div class="line ai"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>RDBMS/MongoDb</span>
                        <span>60%</span>
                    </div>
                    <div class="line bld"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Wordpress</span>
                        <span>60%</span>
                    </div>
                    <div class="line bld"></div>
                </div>
    </section>
</div>

<!-- ----------work------------ -->
<div id="portfolio">
    <div class="container">
        <h1 class="sub-title">My Work</h1>
        <div class="work-list">
            {{!-- NxPro --}}
            <div class="work">
                <img src="images/work-1.jpg">
                <div class="layer">
                    <h4>NxPro - Revamped Company Website</h4>
                    <p>Contributed to NxPro's success through website redesign during internship at an innovative IT
                        solutions firm.</p><br />
                    <h4>Languages</h4>
                    <p>PHP, HTML, CSS, WordPress, jQuery, JavaScript</p>
                    <a href="https://www.nxpro.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
            {{!-- GreenGauge --}}
            <div class="work">
                <img src="images/gg.png">
                <div class="layer">
                    <h4>GreenGauge- Carbon Emission Client Based Project</h4>
                    <p>Express.js powered website using MongoDB to gauge and capture carbon emissions, fostering
                        awareness and action for a greener future by reducing carbon footprints. Team-based project</p>
                    <br />
                    <h4>Languages</h4>
                    <p>ExpressJs, Handlebars, HTML, CSS, JS, MongoDb </p>
                    <a href="https://greengauge.onrender.com/" target="_blank"><i
                            class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- new row -->
    <div class="container">
        <div class="work-list">
            <div class="work">
                <img src="images/work-2.png">
                <div class="layer">
                    <h4>Dolphin Cards - Company's Landing Page </h4>
                    <p>Curated captivating product showcases at Dolphin Cards, your one-stop store for exquisite cards
                        and more.</p><br />
                    <h4>Languages</h4>
                    <p>WIX and CSS</p>
                    <a href="https://yashsvinxpro.wixsite.com/my-site" target="_blank"><i
                            class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="images/grace.png">
                <div class="layer">
                    <h4>Grace Designs - Portfolio</h4>
                    <p>A dynamic portfolio project showcasing my diverse skills and creative endeavors in the world of
                        web development and design.</p><br />
                    <h4>Languages</h4>
                    <p>HTML, CSS, BootStrap, React, </p>
                    <a href="https://gracedesigns-portfolio.onrender.com/" target="_blank"><i
                            class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
        </div>
    </div>
    {{!-- new row --}}
    <div class="container">
        <div class="work-list">
            <div class="work">
                <img src="images/work-3.png">
                <div class="layer">
                    <h4>Five Feet Apart - Book Cover</h4>
                    <p>Crafted the 'Five Feet Apart' book cover using CSS for a captivating digital design.</p><br />
                    <h4>Languages</h4>
                    <p>HTML, CSS, BootStrap</p>
                    <a href="https://five-feet-apart-book-cover.onrender.com/" target="_blank"><i
                            class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="images/Moodboard.jpg">
                <div class="layer">
                    <h4>Moodboards & more Designs</h4>
                    <h4>Technologies</h4>
                    <p>Canva, Photoshop, Illustrator </p>
                    <a href="https://imgur.com/a/zRPMw3K" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>