<div id="about">
    <div class="container">
        <div class="row">
            <div class="about-col-1">
                <img src="images/user.jpeg">
            </div>
            <div class="about-col-2">
                <h1 class="sub-title">About Me</h1>
                <p>I'm Yashsvi (aka Alisha Dutt) , a dedicated professional with 2+ years of experience in web
                    development and design. My journey has been driven by a genuine passion for coding and creating
                    digital experiences that seamlessly merge with the beauty of nature. Proficient in HTML, CSS,
                    ExpressJS and more, I bring creativity and innovation to every project I undertake. Notably, I've
                    earned certifications in competitive web development, showcasing my commitment to continuous growth.
                    Customer satisfaction sits at the heart of my philosophy, and I take pride in delivering solutions
                    that exceed expectations. Beyond my work, I find solace in photography and the enchantment of music.
                    With an unwavering ambition, I aspire to become a prominent female figure in the web development
                    industry, inspiring others through my work and dedication.</p>

                <div class="tab-titles">
                    <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
                    <p class="tab-links" onclick="opentab('experience')">Experience</p>
                    <p class="tab-links" onclick="opentab('education')">Education</p>
                </div>
                <div class="tab-contents active-tab" id="skills">
                    <ul>
                        <li><span>UI/UX</span><br>Designing Web/App interfaces</li>
                        <li><span>Graphic Design</span><br>Designing & Creating Web/App Graphics and Motion Graphics
                        </li>
                        <li><span>Web Development</span><br>Deployment of a functional Web application</li>
                    </ul>
                </div>
                <div class="tab-contents" id="experience">
                    <ul>
                        <li><span>2023 - Current</span><br>Freelance Work</li>
                        <li><span>2021- 2023</span><br>Georgian College - 10+ CRUD Academic Projects</li>
                        <li><span>2021</span><br>Internship at NxPro - Next Generation Professionals.</li>
                    </ul>
                </div>
                <div class="tab-contents" id="education">
                    <ul>
                        <li><span>2021-2023</span><br>Interactive Media Design - Web at Georgian College (2 Years)</li>
                        <li><span>2021</span><br>Bachleor's of Computer Application at PGGCG-11 (1 Year)</li>
                        <li><span>2020</span><br>Post Secondary Voc. studies in Web Application & IT at GGMSSS-18 (2
                            Years) </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ---------services---------------- -->
<div id="services">
    <div class="container">
        <h1 class="sub-title">My Services</h1>
        <div class="services-list">
            <div>
                <i class="fas fa-code"></i>
                <h2>Web Design</h2>
                <p>Crafting digital experiences that resonate – my web designs blend functionality with aesthetics,
                    offering intuitive navigation and captivating visuals. Elevate your online presence with designs
                    that leave a lasting impression.</p>
            </div>
            <div>
                <i class="fa-solid fa-pen-fancy"></i>
                <h2>UI/UX Design</h2>
                <p>Transcend user expectations with my UI/UX designs. Seamlessly fusing form and function, I craft
                    intuitive digital journeys that enchant users. Elevate user experiences through designs that engage
                    and empower.</p>
            </div>
            <div>
                <i class="fa-solid fa-brush"></i>
                <h2>Graphic Design</h2>
                <p>My graphic designs weave stories through visuals, capturing essence and emotion. With meticulous
                    attention to detail, I create striking visuals that resonate authentically, making your message an
                    artistic masterpiece.</p>
            </div>
        </div>
    </div>
</div>
<!-- ----------portfolio------------ -->
<div id="portfolio">
    <div class="container">
        <h1 class="sub-title">My Work</h1>
        <div class="work-list">
            <div class="work">
                <img src="images/work-1mob.png">
                <div class="layer">
                    <h3>NxPro - Revamped Company Website</h3>
                    <p>Contributed to NxPro's success through website redesign during internship at an innovative IT
                        solutions firm.</p>
                    <a href="https://www.nxpro.com/"><i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="images/work-7.png">
                <div class="layer">
                    <h3>GreenGauge - Carbon Emissions</h3>
                    <p>Tracking Global Carbon Emissions: Exploring Climate Impact.</p>
                    <a href="https://greengauge.onrender.com/"><i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="images/work-2mob.png">
                <div class="layer">
                    <h3>Dolphin Cards - Company's Landing Page</h3>
                    <p>Curated captivating product showcases at Dolphin Cards, your one-stop store for exquisite cards
                        and more.</p>
                    <a href="https://yashsvinxpro.wixsite.com/my-site"><i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>

        </div>
        <a href="/work" class="btn">See more</a>
    </div>
</div>