<div id="portfolio">
    <div class="container">
        <div class="work-list">
            <div class="work">
                <img src="images/work-1.jpg">
                <div class="layer">
                    <h3>NxPro - Revamped Company Website</h3>
                    <p>Contributed to NxPro's success through website redesign during internship at an innovative IT solutions firm.</p>
                    <a href="https://www.nxpro.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="images/work-3.png">
                <div class="layer">
                    <h3>Five Feet Apart - Book Cover</h3>
                    <p>Crafted the 'Five Feet Apart' book cover using CSS for a captivating digital design.</p>
                    <a href="https://five-feet-apart-book-cover.onrender.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>            
        </div>
    </div>
    <!-- new row -->
    <div class="container">
        <div class="work-list">
            <div class="work">
                <img src="images/work-2.png">
                <div class="layer">
                    <h3>Dolphin Cards - Company's Landing Page</h3>
                    <p>Curated captivating product showcases at Dolphin Cards, your one-stop store for exquisite cards and more.</p>
                    <a href="https://yashsvinxpro.wixsite.com/my-site" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="images/work-4.jpg">
                <div class="layer">
                    <h3>Your Recipe - ASP.NET Application</h3>
                    <p>Unleash your culinary creativity with YourRecipe, the platform to globally share your cooking secrets.</p>
                    <a href="https://www.nxpro.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>         
        </div>
    </div>
     <!-- new row -->
     <div class="container">
        <div class="work-list">
            <div class="work">
                <img src="images/work-5.png">
                <div class="layer">
                    <h3>Ineffable Furniture</h3>
                    <p>Explore timeless elegance and exceptional design at Ineffable Furniture, where your dream home comes to life.</p>
                    <a href="https://yashsvinxpro.wixsite.com/my-site" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="images/work-6.jpg">
                <div class="layer">
                    <h3>Ferrero Rocher</h3>
                    <p>Crafted a delectable Ferrero Rocher replica in an academic project, merging artistry and precision.</p>
                    <a href="https://www.nxpro.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>         
        </div>
    </div>
    <a href="./" class="btn">More to Come...</a>
</div>